fastapi
uvicorn[standard]
motor
pymongo
python-dotenv
python-multipart
langchain
langchain-core
langchain-community
langchain-mongodb
langchain-huggingface
langchain-groq
sentence-transformers
beautifulsoup4
PyMuPDF
certifi
PyJWT==2.8.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
